@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --client-color: #afb1b8;
  --text-color-white: #ffffff;
  --primary-back: #ffffff;
  --secondary-back: #f5f4fa;
  --dark-back: #2f303a;
  --hero-back: #c4c4c4;
  --primary-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  margin: 0;
  background-color: var(--primary-back);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  font-family: Roboto, sans-serif;
  line-height: 1.62;
  border-radius: 4px;
  border-color: transparent;
  background-color: #f5f4fa;
}

.btn--main {
  width: 200px;
  height: 50px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: #ffffff;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--main:hover,
.btn--main :focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*  класс Секция для секций */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*class="section-title"  */
/* Скрывает заголовки */
.section__title {
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  text-transform: none;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    color: var(--primary-title-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    text-transform: none;
    line-height: 1.17;
  }
}
.section__title--invisible {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*--- Хедер---- */
.header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
}

.header__container {
  position: relative;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: var(--mobile);
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: var(--tablet);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.header__logo {
  display: block;
}
@media screen and (max-width: 767px) {
  .header__logo {
    padding: 16px 0;
  }
}
.header__logo--black {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  background-color: transparent;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button .mobile-menu__icon-cross {
  display: none;
}

.mobile-menu__button:hover .mobile-menu__icon-cross,
.mobile-menu__button:focus .mobile-menu__icon-cross {
  fill: var(--accent-color);
}

.mobile-menu__button.is-open .mobile-menu__icon-cross {
  display: block;
  color: var(--primary-title-color);
}

.mobile-menu__button .mobile-menu__icon-menu {
  display: block;
  color: var(--primary-title-color);
}

.mobile-menu__button:hover .mobile-menu__icon-menu,
.mobile-menu__button:focus .mobile-menu__icon-menu {
  fill: var(--accent-color);
}

.mobile-menu__button.is-open .mobile-menu__icon-menu {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: rgba(255, 255, 255, 0.986);
}
.menu.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    padding: 0;
    height: auto;
  }
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .menu {
    padding: 15px 15px;
  }
}

/* ===site-nav=== */
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .site-nav__item {
    padding-bottom: 15px;
  }
}

.site-nav__link {
  display: block;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  text-transform: none;
  text-align: start;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding: 32px 0;
    position: relative;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .site-nav__link {
    font-size: 20px;
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    margin-bottom: -1px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 2px;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .connect {
    position: absolute;
    bottom: 48px;
    left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .connect {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .mobile-menu__list {
    display: none;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-right: 10px;
}
.mobile-menu__item:not(:last-child)::after {
  content: "";
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: inherit;
  line-height: 1.22;
  border-width: 0.5px;
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .mobile-menu__item:not(:last-child)::after {
    margin-left: 5px;
  }
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .mobile-menu__item:not(:last-child) {
    margin-right: 5px;
  }
}

.mobile-menu__link {
  text-decoration: none;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  line-height: 1.22;
}
@media screen and (max-height: 380px) and (max-width: 320px) {
  .mobile-menu__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .studio-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .studio-contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .studio-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-height: 350px) and (max-width: 320px) {
  .studio-contacts {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .studio-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .studio-contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-height: 350px) and (max-width: 320px) {
  .studio-contacts__item:not(:first-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .studio-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.studio-contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-height: 350px) and (max-width: 379px) {
  .studio-contacts__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .studio-contacts__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .studio-contacts__link {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}
.studio-contacts__link:hover, .studio-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .studio-contacts__link__big {
    font-size: 34px;
    margin-bottom: 32px;
    color: var(--accent-color);
  }
}
@media screen and (max-height: 350px) and (max-width: 320px) {
  .studio-contacts__link__big {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.studio-contacts__svg {
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .studio-contacts__svg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .studio-contacts__svg {
    margin-right: 10px;
  }
}
.studio-contacts__link:hover .studio-contacts__svg, .studio-contacts__link:focus .studio-contacts__svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.phone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-color: var(--hero-back);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

/* фон для героя картинка+затемнение доп класс к секции hero */
.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/mobile/hero-back.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/mobile/hero-back.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/mobile/hero-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/mobile/hero-back@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/mobile/hero-back@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/mobile/hero-back@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/tablet/hero-back.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/tablet/hero-back.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/tablet/hero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/tablet/hero-back@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/tablet/hero-back@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/tablet/hero-back@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/desktop/hero-back.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/desktop/hero-back.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/desktop/hero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/picture/desktop/hero-back@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/desktop/hero-back@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/picture/desktop/hero-back@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* hero-title */
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 15px 15px;
  }
}
body.modal--open {
  overflow: hidden;
}

.modal {
  z-index: 3;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .modal {
  visibility: hidden;
  -webkit-transform: translate(-50%, -200%);
      -ms-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  -webkit-transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (max-width: 767px) {
  .btn-close {
    top: 23px;
    right: 23px;
  }
}

.btn-close__icon {
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  stroke-width: 10%;
}

/* ===========Модальное окно FORM============ */
.form {
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: none;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
}

.form__input {
  margin: 0;
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input:-moz-placeholder-shown {
  border-color: rgba(33, 33, 33, 0.2);
}
.form__input:-ms-input-placeholder {
  border-color: rgba(33, 33, 33, 0.2);
}
.form__input:placeholder-shown {
  border-color: rgba(33, 33, 33, 0.2);
}
.form__input:not(:-moz-placeholder-shown) {
  outline: 1px solid var(--accent-color);
}
.form__input:not(:-ms-input-placeholder) {
  outline: 1px solid var(--accent-color);
}
.form__input:not(:placeholder-shown), .form__input:focus, .form__input:hover {
  outline: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.form__svg {
  fill: #212121;
}
.form__input:not(:-moz-placeholder-shown) + .form__icon > .form__svg {
  fill: var(--accent-color);
}
.form__input:not(:-ms-input-placeholder) + .form__icon > .form__svg {
  fill: var(--accent-color);
}
.form__input:not(:placeholder-shown) + .form__icon > .form__svg, .form__input:focus + .form__icon > .form__svg {
  fill: var(--accent-color);
}

.form__comment {
  text-align: start;
  margin-bottom: 20px;
}

.form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:not(:-moz-placeholder-shown) {
  outline: 1px solid var(--accent-color);
}
.form__textarea:not(:-ms-input-placeholder) {
  outline: 1px solid var(--accent-color);
}
.form__textarea:not(:placeholder-shown), .form__textarea:focus, .form__textarea:hover {
  outline: 1px solid var(--accent-color);
}

.form__check {
  width: 425px;
}

.form__contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
  line-height: 1.17;
  color: currentColor;
}
.form__contract:hover {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .form__contract {
    color: var(--primary-title-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    line-height: 1.71;
  }
}

.form__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form__checkbox:hover + .form__check, .form__checkbox:focus-visible + .form__check {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}
.form__checkbox:checked + .form__check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  /* background-image: url(../images/icon-check.svg); */
  background-size: contain;
  background-origin: border-box;
}

.form__icon-check {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 10%;
  opacity: 0;
}
.form__checkbox:checked ~ .form__check > .form__icon-check {
  opacity: 1;
}

.form__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-color);
  margin-left: 5px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-back);
  margin-bottom: 30px;
  height: 120px;
}
@media screen and (min-width: 1200px) {
  .benefits__box {
    width: 270px;
  }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.work {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color-white);
  text-align: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--primary-back);
}

.team {
  background-color: var(--secondary-back);
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  background-color: var(--primary-back);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__img {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  line-height: 1.19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 15px;
  height: 92px;
}
@media screen and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  fill: var(--client-color);
  width: 106px;
  height: 60px;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--dark-back);
  padding: 60px 0;
}

.footer__container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer__container {
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-preferred-size: 768px;
        flex-basis: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-preferred-size: 1200px;
        flex-basis: 1200px;
    text-align: start;
  }
}

.footer__address {
  font-style: normal;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo--white {
  color: var(--text-color-white);
}

.adress__item:not(:last-child) {
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link--street {
  display: inline-block;
  color: var(--text-color-white);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link--street:hover, .adress__link--street:focus {
  color: var(--accent-color);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

/* =======. Присоединяйтесь..=accede..=========== */
@media screen and (max-width: 767px) {
  .accede {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .accede {
    margin-left: 70px;
  }
}

.accede__title,
.subscribe__title {
  margin-bottom: 20px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color-white);
}
@media screen and (min-width: 1200px) {
  .accede__title,
.subscribe__title {
    text-align: start;
  }
}

.accede__list {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .accede__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.accede__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
}

.accede__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-back);
}

/* =============subscribe======== */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    margin-left: auto;
  }
}

.subscribe__label {
  display: block;
}

.subscribe__input {
  height: 50px;
  width: 100%;
  padding: 15px 16px;
  text-indent: 16px;
  background-color: rgba(255, 255, 255, 0);
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  text-align: start;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}
.subscribe__input:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}
.subscribe__input:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}
.subscribe__input:not(:placeholder-shown), .subscribe__input:focus, .subscribe__input:hover {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.subscribe__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons.svg/send.svg);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin: 0 0 50px;
  }
}

.filter__btn {
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  -o-transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-child(-n+3)) {
    margin-bottom: 0;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus, .portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img {
  width: 370px;
}
@media screen and (max-width: 767px) {
  .portfolio__img {
    width: 450px;
  }
}

/* ..........blue bgc and text for hover..... */
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: -o-linear-gradient(left, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus .thumb__overlay, .portfolio__link:hover .thumb__overlay {
  -webkit-transform: translatey(-100%);
      -ms-transform: translatey(-100%);
          transform: translatey(-100%);
}

.thumb__overlay .thumb__text {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  max-width: 402px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  color: var(--text-color-white);
}
@media screen and (min-width: 480px) {
  .thumb__overlay .thumb__text {
    width: 402px;
  }
}
@media screen and (min-width: 768px) {
  .thumb__overlay .thumb__text {
    width: 322px;
  }
}

/* ..........blue bgc and text for hover END..... */
.card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--primary-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  text-align: start;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */