.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer-left-part {
  margin-right: 70px;
  flex-grow: 1;
}

//footer address block
.address-box {
  margin-top: 20px;
}

.address__link {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  color: var(--main-white-color), 60%;
  line-height: 1.8;

  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }

  &--white {
    color: var(--main-white-color);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
/* footer socials block */
.footer-socials {
  margin-right: 93px;
}

.footer-socials__title {
  display: block;
  font-size: 14px;
  color: var(--main-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

// footer mailing block
.mailing {
  display: flex;
  flex-direction: column;
}

.mailing__form {
  display: flex;
  position: relative;
}

.mailing__title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-white-color);

  margin-bottom: 20px;
}

.mailing__label {
  position: absolute;
  top: 15px;
  left: 16px;

  color: rgba(255, 255, 255, 0.6);

  cursor: text;

  .mailing__input:not(:placeholder-shown) + & {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.mailing__input {
  display: block;

  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 0 10px 0 16px;

  border-radius: 4px;
  border-style: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);

  color: var(--main-white-color);
  background-color: var(--secondary-background-color);
}
