.logo {
  margin-right: 93px;

  font-family: "Raleway", "Arial", sans-serif;
  color: var(--solid-black-color);
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo__left-part {
  color: var(--brand-color);
}

.logo--footer {
  color: var(--main-white-color);
  margin: 0;
}
