.team {
  background-color: var(--secondary-back);
  font-size: 16px;
  line-height: 1.19;
}

//  @media screen and (min-width: 480px) {
//     width: 480px;
//   }

//   @media screen and (min-width: 768px) {
//     width: var(--tablet);
//     background-color: darkorange;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//     background-color: green;
//   }

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  background-color: var(--primary-back);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__img {
  @media screen and (max-width: 767px) {
    flex-basis: 450px;
  }
}
.team__box {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  @include texter(16px, 500, none);
  line-height: 1.19;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
