:root {
  --title-color: #212121;
  --brand-color: #2196f3;
  --focused-brand-color: #188ce8;
  --main-text-color: #757575;
  --main-white-color: #ffffff;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --solid-black-color: #000000;
  --secondary-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --header-underline-color: #ececec;
  --card-border-color: #eeeeee;
  --card-set-gap: 30px;
  --grey-icon-color: #afb1b8;
  --footer-socials-bgc: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
